<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="Note-Mapper">
	
	<select id="selectNoteList" resultType="note">
		select *
		from developnote
		order by noteid desc
	</select>

	<select id="selectNoteB아이티코리아yDnId" parameterType="int" resultType="note">
		select *
		from developnote
		where noteid=#{noteid}
	</select>
	<insert id="insertNote" parameterType="note">
		insert into 
		developnote(Noteid, Notetitle, Notecontent, Noteviewpoint, NoteRegdate, memberid, Projectid)
		values(#{noteId}, #{noteTitle}, #{noteContent}, #{noteViewPoint}, #{noteRegDate}, #{memberId}, #{projectId})
	</insert>
		
	<update id="updateNote" parameterType="note">
		update developnote
		set
		notetitle=#{noteTitle}, notecontent=#{noteContent} memberid=#{memberId}
		where noteid=#{noteId}
	
	</update>
	<update id="increaseNoteViewPoint" parameterType="int">
		update developnote
		set NoteViewPoint = NoteViewPoint + 1
		where noteid=#{noteId}
	</update>
	
	
	<delete id="deleteNote" parameterType="int">
		delete from developnote
		where noteid=#{noteId}
	</delete>
	

</mapper>

